<head>
	<title>
		{{ site.github.project_title }}
	</title>
	<meta charset="utf-8">
	<meta name="author" content="Sergey Roganov">
	<meta name="author" lang="ru" content="Сергей Роганов">
	<meta name="description" content="{{ site.description }}">
	<meta name="description" lang="ru" content="{{ site.description.ru }}">
	<meta name="keywords" content="{{ site.keywords }}">
	<meta name="keywords" lang="ru" content="{{ site.keywords.ru }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="./script.js"></script>
</head>
